.header {
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 10;
  padding: 0 1.5rem;
  width: 100%;
  height: $header-height;
  border-bottom: 1px solid $gray200;
  background: $white;
  box-sizing: border-box;
  &__menu {
    &:hover {
      cursor: pointer;
    }
  }
  &__logo {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 1.5rem;
    text-decoration: none;
    outline: none;
    img {
      width: auto;
      height: 1.75rem;
    }
    .logo__name {
      color: $black500;
      font-size: 1.375rem;
      font-weight: 700;
      font-family: "Roboto", sans-serif;
      letter-spacing: -0.125rem;
    }
    sup {
      display: inline-block;
      height: 100%;
      font-size: 0.625rem;
      align-self: flex-start;
    }
  }
  &__search-box {
    display: flex;
    align-items: center;
    margin-left: auto;
    .search-box__form {
      display: flex;
      align-items: center;
      width: 100%;
      .form__input-box {
        display: none;
        .form__input {
          width: 100%;
          height: 2rem;
          &:focus {
            outline: none;
          }
        }
      }
      .form__search-btn {
        @include circleBtn();
        border: none;
        color: $black300;
      }
    }
    .search-box__search-voice-btn {
      @include circleBtn();
      border: none;
      color: $black300;
    }

    @include mediaQuery($breakpoint-mobile-and-tablet) {
      justify-content: center;
      margin-right: 1.5rem;
      width: 100%;
      max-width: 45rem;
      height: 2.25rem;
      .search-box__form {
        display: flex;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        .form__input-box {
          display: flex;
          align-items: center;
          margin-left: 2.5rem;
          padding: 0 0.25rem;
          width: 100%;
          border: 1px solid $gray200;
          background-color: white;
          box-sizing: border-box;
          .form__input {
            width: 100%;
            height: 2.125rem;
            border: none;
            box-sizing: border-box;
          }
          .form__keyboard {
            margin: 0;
            padding: 0;
            padding: 0 0.25rem;
            border: none;
            background-color: $white;
            color: $black300;
            font-size: 1rem;
          }
        }

        .form__search-btn {
          flex-shrink: 0;
          margin-right: 0.25rem;
          width: 4rem;
          height: 100%;
          border: 1px solid $gray200;
          border-radius: 0;
          background-color: $gray100;
          color: $black300;
          box-sizing: border-box;
        }
      }

      .search-box__search-voice-btn {
        @include circleBtn();
        margin-left: 0.5rem;
        width: 2.25rem;
        height: 2.25rem;
        border: none;
        color: $black300;
      }
    }
  }
  &__options {
    display: flex;
    position: relative;
    margin-left: 1rem;
    padding: 0;
    list-style: none;
    .option-btns__option {
      padding-left: 1rem;
      .create-vedio-btn,
      .app-btn,
      .alert-btn {
        @include circleBtn(2rem);
        border: none;
      }
      .user-info-btn {
        @include circleBtn(2rem, $bg-color: $green500);
        margin-left: 0.75rem;
        background-color: $green500;
        color: white;
        font-size: 0.6875rem;
        font-weight: 400;
        word-break: keep-all;
      }
    }
    @include mediaQuery($breakpoint-mobile-and-tablet) {
      margin-left: auto;
    }
  }
}
