.main {
  margin-top: $nav-tagbar-height;
  width: 100%;
  min-height: 100%;
  background-color: $gray100;
  &__loading {
    display: flex;
    justify-content: center;
    img {
      width: 2.25rem;
    }
    mark {
      display: block;
      background-color: rgb(255, 214, 34);
      line-height: 2.5;
    }
  }
  &__videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1.25rem;
    @include mediaQuery($breakpoint-mobile-videos-padding) {
      padding: 1.25rem 1.25rem 0 1.25rem;
    }
    .videos__video {
      width: calc(50% - 0.5rem);
      max-width: $img-max-width;
      @include mediaQuery($breakpoint-videos-col-3) {
        width: calc(33% - 3rem);
      }
      .video__thumbnail {
        width: 100%;
        &:hover {
          cursor: pointer;
          content: url("https://i.ytimg.com/an_webp/mp10rJ4bMZY/mqdefault_6s.webp?du=3000&sqp=CK7QuYoG&rs=AOn4CLDvbF4KaaqQRGzD2-22TUkHux0K-g");
        }
      }
      .video__details {
        display: flex;
        padding-top: 0.5rem;
        .details__author-info {
          flex-shrink: 0;
          overflow: hidden;
          width: 2rem;
          height: 2rem;
          border-radius: 2rem;
          margin-right: 0.5rem;
          &:hover {
            cursor: pointer;
          }
          img {
            width: 100%;
          }
        }
        .details__detail {
          .detail__title {
            margin-bottom: 0.25rem;
            line-height: 1.375;
          }
          .detail__author {
            color: $black300;
            font-size: 0.8125rem;
          }
          .detail__video-infos {
            display: flex;
            .video-infos__view,
            .video-infos__create-at {
              color: $black300;
              font-size: 0.8125rem;
            }
            .video-infos__create-at {
              &::before {
                margin: 0 0.1875rem;
                font-weight: 700;
                content: "·";
              }
            }
          }
        }
      }
    }
  }
}
