.tag-navbar {
  display: flex;
  position: fixed;
  align-items: center;
  overflow: hidden;
  top: $header-height;
  width: 100%;
  height: $nav-tagbar-height;
  border-bottom: 1px solid $gray200;
  background: $white;
  box-sizing: border-box;
  .tag-navbar__move-left-btn {
    @include tagNavBarBtn($isLeft: true);
    display: none;
  }
  .tag-navbar__move-right-btn {
    @include tagNavBarBtn($isLeft: false);
  }
  &__tag-list {
    display: flex;
    align-items: center;
    width: 100%;
    .tag-list__tag {
      flex-shrink: 0;
      margin: 0.5rem;
      padding: 0.3125rem 0.75rem;
      border: 1px solid $gray200;
      border-radius: 1rem;
      background-color: $gray100;
      font-size: 0.75rem;
      &.active {
        background-color: $black500;
        color: $white;
        font-weight: 700;
      }
    }
  }
  @include mediaQuery($breakpoint-tablet-width) {
    margin-left: $sidebar-width;
  }
}
