.sidebar {
  display: none;
  position: fixed;
  top: $header-height;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  background: $white;
  min-height: 100%;
  &__links {
    .links__home-link {
      display: block;
      text-decoration: none;
      color: $black500;
    }
  }
}
