@import "@/styles/components/header";
@import "@/styles/components/nav-tagbar";
@import "@/styles/components/sidebar";
@import "@/styles/components/main-container";
@import "@/styles/components/icons.scss";

// block not feature
.container {
  display: flex;
  width: 100%;
  min-height: 100%;
  &__inner {
    width: 100%;
    margin: calc(#{$header-height} + #{$nav-tagbar-height}) 0 0 $sidebar-width;
  }
}
