// for media query
$mobile: "MOBILE";
$tablet: "TABLET";
$mobile-and-tablet: "MOBILE_AND_TABLET";
$tablet-and-desktop: "TABLET_AND_DESKTOP";

// components height
$headerHeight: 4.5rem;
$navHeight: 4.5rem;
