$breakpoint-mobile-videos-padding: 540px; // videos padding
$breakpoint-mobile-and-tablet: 590px; //searchbar
$breakpoint-tablet-width: 791px; // sidebar
$breakpoint-tablet-and-desktop: 1313px;

$breakpoint-videos-col-3: 872px;
$breakpoint-videos-col-4: 1128px;

@mixin mediaQuery($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
