@mixin circleBtn(
  $size: 2rem,
  $border-color: transparent,
  $bg-color: transparent
) {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  border: 1px solid;
  border-radius: $size;
  border-color: $border-color;
  background-color: $bg-color;
}
@mixin tagNavBarBtn($isLeft) {
  $deg: if($isLeft, 90deg, 270deg);
  @include circleBtn($border-color: transparent);
  display: flex;
  position: absolute;

  align-items: center;
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 5rem;
    height: 2rem;
    background: linear-gradient($deg, $white 60%, rgba(255, 255, 255, 0));
  }
  &:not(.tag-navbar__move-left-btn) {
    // display: none;
    right: 0;
  }
  .material-icons {
    z-index: 2;
  }
}
