// for media query
$mobile: "MOBILE";
$tablet: "TABLET";
$mobile-and-tablet: "MOBILE_AND_TABLET";
$tablet-and-desktop: "TABLET_AND_DESKTOP";

//components width
$sidebar-width: 4rem;

// components height
$header-height: 3.5rem;
$nav-tagbar-height: 3rem;
