//components width
$sidebar-width: 4.5rem;
$img-max-width: 22rem;

// components height
$header-height: 3.55rem;
$nav-tagbar-height: 3.5rem;

// url
$content-hover-url: "https://images.velog.io/images/young_pallete/post/bdc1097e-3433-4371-93b3-64227521fa8f/youtube_stella_thumbnail.gif";
