// for media query
$mobile: "MOBILE";
$tablet: "TABLET";
$mobile-and-tablet: "MOBILE_AND_TABLET";
$tablet-and-desktop: "TABLET_AND_DESKTOP";
$videos-col-2: "VIDEOS_COL_2";
$videos-col-3: "VIDEOS_COL_3";
$videos-col-4: "VIDEOS_COL_4";

//components width
$sidebar-width: 4rem;

// components height
$header-height: 3.5rem;
$nav-tagbar-height: 3rem;
